.checking {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  background-color: #4b73b5;
  color: #fff;
  padding: 29px 14px;
  line-height: 1.67;
  background-image: url('/img/pattern.png');
  text-align: center;
  margin-bottom: 30px;
}
.checking__container {
  margin: 0 auto;
}
.checking a {
  font-weight: bold;
}
.checking a:first-child {
  text-decoration: underline;
}