.contacts {
  text-align: right;
  color: #fff;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.contacts__phone {
  display: block;
  font-size: 21px;
  font-weight: bold;
  text-align: right;
}
.contacts__days {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1c5bc3;
  margin-bottom: 8px;
}
.contacts__rest {
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  font-weight: 300;
  color: #221f1f;
}