.content {
  padding-top: 25px;
  padding-bottom: 62px;
  font-size: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.content__container {
  display: flex;
}
.content--reviews-team {
  padding-top: 44px;
  padding-bottom: 0;
}