.contacts {
  text-align: right;
  color: #fff;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.contacts__phone {
  display: block;
  font-size: 21px;
  font-weight: bold;
  text-align: right;
}
.contacts__hours {
  display: block;
  font-size: 14px;
  opacity: .7;
  text-decoration: underline;
}