.content {
  padding-top: 28px;
  padding-bottom: 47px;
  font-size: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.content__container {
  display: flex;
}
.content--reviews {
  padding-bottom: 28px;
}
.content--team {
  padding-bottom: 35px;
}