.header {
  background-color: #4b73b5;
}
.header__container {
  position: relative;
  height: 77px;
}
.header__logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.header__contacts {
  position: absolute;
  top: 50%;
  right: 0;
  transform:translateY(-50%);
}