.news {
  padding-top: 92px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.news h2 {
  margin: 0;
  margin-bottom: 68px;
  text-align: left;
}
.news__list {
  margin-bottom: 57px;
}
.news__item {
  margin-bottom: 22px;
}
.news__item:last-child {
  margin-bottom: 0;
}
.news__item::before {
  content: "";
  display: block;
  width: 88%;
  height: 1px;
  background-color: #f5f5f5;
  margin-bottom: 29px;
}
.news__item:first-child::before {
  display: none;
}