.news {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.news h2 {
  margin-bottom: 38px;
}
.news__list {
  display: flex;
  flex-direction: row;
  /* margin-left: -34px; */
  justify-content: space-between;
}
.news__item {
  width: calc(100% /3 - 17px);
}