.partners {
  width: 100%;
  border: solid 1px #e8e9ed;
  padding: 24px 0 30px;
  margin-bottom: 30px;
}
.partners__title {
  margin-bottom: 31px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}
.partners__list {
  display: flex;
  flex-direction: column;
  /* padding: 0 60px; */
  align-items: center;
}
.partners__item {
  margin: 0 auto;
  margin-bottom: 51px;
  cursor: pointer;
}
.partners__item:last-child {
  margin-bottom: 0;
}