.partners {
  width: 100%;
  border: solid 1px #e8e9ed;
  padding: 28px 0 30px;
  margin-bottom: 30px;
}
.partners__title {
  /* margin-bottom: 10px; */
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}
.partners__list {
  display: flex;
  flex-direction: column;
  /* padding: 0 60px; */
  align-items: center;
}
.partners__item {
  padding: 25px 0;
  margin: 0 auto;
  cursor: pointer;
}