.tariff {
  color: #221f1f;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 23px 3px 26px;
  border: solid 1px #e8e9ed;
  text-align: center;
  margin-bottom: 30px;
}
.tariff__title {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 29px;
}
.tariff span {
  margin: 0;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 2.64px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #212121;
}
.tariff__desc {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.67;
  margin-bottom: 8px;
}
.tariff p {
  margin: 0;
}
.tariff ul {
  padding-left: 28px;
  line-height: 2;
  width: 81%;
  margin: 0 auto;
}
.tariff li {
  list-style: disc;
  text-align: left;
  padding-left: 7px;
}
.tariff__price span {
  font-size: 54px;
  letter-spacing: -3.24px;
  color: #212121;
}
.tariff__price span:first-child {
  font-size: 33px;
  color: #202020;
}